.App {
  background: #222222;
  text-align: center;
  width: 100%
}


/* For texteditor */

.text{
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* For the current webpage background */
.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ===========================================================================================================
Blog Template CSS
============================================================================================================== */
/* User profile card on left side */
.user-profile{
  box-shadow: 2px 2px 20px 2px #b716e6;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 18%;
  height: 60vh;
  background-color: #222222;
  color: purple;
}
.user-profile h2{
  top: 40px;
  position: relative;
}
.profile-pic{
  filter: brightness(1.0);
  top: 30px;
  height: 100px;
  position: relative;
}
.post-details{
  position: relative;
  top: 40px;
  left: 10px;
  font-size: 18px;
  color: white;
  text-align: left;
}
.post-details span{
  color: #bc09f2;
}
.socialicon{
  position: relative;
  top: 50px;
}
.soicon{
  margin-right: 10px;
}
.soicon:hover{
  transition: transform 250ms;
  transform: translateY(-7px);
}
/* ==========================================================================================================
Links used in Home page and this is for home page
============================================================================================================= */
a:link{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:visited{
  box-shadow: 5px 5px 10px 0px #b716e6;
  font-family: 'Courier New', monospace;
  color: white;
  text-decoration: none;
}
/* Content section */
.content{
  /* box-shadow: 5px 5px 30px 0px #b716e6; */
  /* background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  /* background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  /* background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  /* background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  position: relative;
  box-shadow: 4px 4px 10px 0px #b716e6;
  border-radius: 15px;
  top: 50px;
  height: auto;
  width: 75%;
  left: 130px;
}
.blogtitleimg{
  border-radius: 15px;
  box-shadow: 5px 5px 30px 5px #b716e6;
  position: relative;
  top: 10px;
  height: 250px;
  width: 450px;
}
.content h2{
  text-shadow: 5px 5px #b716e6;
  font-size: 34px;
  font-family: 'Courier New', monospace;
  color: white;
}
.content p{
  position: relative;
  width: 90%;
  left: 45px;
  font-size: 18px;
  text-align: justify;
}
.ol{
  text-align: justify;
  margin-left: 70px;
  font-size: 18px;
}
.footer{
  position: relative;
  height: 200px;
  width: 100%;
  bottom: -150px;
  background-color: black;
}


/*=====================================================================================
Home page css 
====================================================================================== */
.row{
  position: relative;
  top: 90px;
  /* margin-bottom: 20px; */
  gap: 20px;
  width: 90%;
  height: 100%;
  /* border: 2px solid red; */
}
.col-md{
  background-image: url("./assets/bg.avif");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  width: 120px;
  height: 25rem;
  border: 2px solid white;
  border-radius: 15px;
  transition: 0.3s;
}
.blogimg{
  padding: 20px;
  width: 17rem;
}
.row:hover .col-md{
  filter: blur(10px);
}
.row .col-md:hover{
  filter: blur(0px);
}
.blogname{
  position: relative;
  top: 30px;
}
.create-blog{
  color: white;
  position: relative;
  left: 450px;
  top: 30px;
  padding: 10px;
  background-color: #6437A0;
  border-radius: 12px;
  border: 2px solid white;
}
/* MORE BLOG BUTTON  when clicking this button will redirect to more blog content*/
.moreblogs{
  position: relative;
  box-shadow: 10px 5px 40px 10px #b716e6;
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  width: 10rem;
  height: 50px;
  top: 120px;
}
.moreblogs:hover{
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

/* ==========================================================================
CSS FOR 404 PAGE 
============================================================================= */


/* ==========================================================================
LOGIN
============================================================================= */
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
/* ======================================================================================
blog main home page that will contain only 5 posts 
========================================================================================= */

/* for mobile and tablet screen */
@media only screen and (max-width: 992px) {
  .homebody{
    background-color: #01d28e;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .home-header{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: blue;
  }
  .homebody-header{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home-header h1{
    color: black;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    padding-right: 300px;
  }
  .home-sec{
    background-color:  white;
    border: 2px solid pink;
    left: 15px;
    width: 75%;
    height: 500px;
    border-radius: 10px;
    margin: 40px;
    display: grid;
    position: relative;
    grid-gap: 220px;
  }
  .home-sec:hover{
    transition: 0.5s linear;
    box-shadow: 10px 15px 15px 0px purple;
  }
  .home-sec img{
    max-width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    z-index: 2;
  }
  .blog-title{
    overflow: hidden;
    position: absolute;
    color: black;
    font-family: serif;
    justify-content: center;
    text-align: justify;
    left: 20px;
    width: 90%;
    top: 230px;
  }
  .blog-title h1{
    font-size: 24px;
  }
  .blog-title p{
    display: -webkit-box;
    display: block;
    max-width: 100%;
    top: 270px;
    height: 65px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-author{
    position: relative;
    top: 450px;
    right: 70px;
    width: 350px;
    overflow: hidden;
    text-overflow: hidden;
    margin: 0 auto;
    color: grey;
  }
  .blog-author h2{
    position: relative;
    left: 10px;
    font-size: 14px;
  }
  .blog-author img{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 20px;
    right: 100px;
    margin: 0 auto;
  }
  .post-date{
    position: relative;
    bottom: 8px;
    left: 28px;
    font-size: 14px;
  }
  .next-button{
    background-color: grey;
    height: 50px;
    width: 100px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
  }
  .next-button a{
    color: white;
  }
}
/* for laptop screen */
@media only screen and (min-width: 760px) {
  .homebody{
    background-color: #01d28e;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .home-header{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: blue;
  }
  .homebody-header{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home-header h1{
    position: absolute;
    overflow: hidden;
    padding: 15px;
    padding-right: 300px;
  }
  .home-header a{
    position: relative;
    top: 25px;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    width: 25%;
  }
  .home-header a:hover{
    height: 10;
    border-radius: 10px;
    border: 1px solid whitesmoke;
  }

  .home-sec{
    border-radius: 15px;
    /* border: 2px solid pink; */
    background-color:  white;
    width: 75%;
    height: 300px;
    margin: 40px;
    display: grid;
    position: relative;
    grid-gap: 220px;
  }
  .home-sec:hover{
    transition: 0.5s linear;
    box-shadow: 5px 5px 15px purple;
  }
  .home-sec img{
    max-width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: 2;
  }
  .blog-title{
    overflow:hidden;
    position: absolute;
    color: black;
    font-family: serif;
    justify-content: center;
    text-align: left;
    left: 320px;
    width: 50%;
    top: 0px;
  }
  .blog-title h1{
    font-size: 28px;
  }
  .blog-title p{
    display: -webkit-box;
    display: block;
    max-width: 100%;
    height: 110px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-author{
    position: relative;
    top: 240px;
    right: 70px;
    width: 470px;
    overflow: hidden;
    text-overflow: hidden;
    margin: 0 auto;
    color: black;
  }
  .blog-author h2{
    position: relative;
    left: 20px;
    font-size: 18px;
  }
  .blog-author img{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 40px;
    right: 100px;
    margin: 0 auto;
  }
  .post-date{
    position: relative;
    bottom: 27px;
    left: 150px;
  }
  .next-button{
    background-color: grey;
    height: 50px;
    width: 100px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
  }
  .next-button a{
    color: white;
  }
}